<section class="container">
    <div class="row">
        <div class="list">
            <h1>Locations</h1>
            <ul>
                @for (location of locations(); track location) {
                    <li (click)="onLocationClick(location)">{{ location.name }}</li>
                }
            </ul>
        </div>
        <div class="map">
            <app-map-viewer 
            [locations]="locations()"
            [initialZoom]="0"
            [initialCenter]="[0,0]"></app-map-viewer>
        </div>
        @if (selectedLocation()) {
            <div class="details">
                <h1>{{ selectedLocation()?.name }}</h1>
                <p>{{ selectedLocation()?.description }}</p>
            </div>
        }
    </div>
</section>

