<section class="container">
    <div class="row">
        <div class="list">
            <h1>Locations</h1>
            <ul>
                @for (location of locations(); track location) {
                    <app-location-node [locationNode]="location" [onLocationClick]="onLocationClick"></app-location-node>
                }
            </ul>
        </div>
        <div class="map">
            <app-map-viewer 
            [locations]="mapLocations()"
            [initialZoom]="selectedLocation() ? 6 : 2"
            [initialCenter]="selectedLocation() ? [ selectedLocation()!.longitude, selectedLocation()!.latitude ] : [ 0, 0 ]"></app-map-viewer>
        </div>
        @if (selectedLocation()) {
            <div class="details">
                <h1>{{ selectedLocation()?.name }}</h1>
                <p>{{ selectedLocation()?.description }}</p>
            </div>
        }
    </div>
</section>

